@font-face {
    font-family: 'figtree';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  }

:root {
    --yellow: hsl(47, 88%, 63%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-family: figtree, Arial, Helvetica, sans-serif;
    color: var(--black);
    background-color: var(--yellow);
}

body {
    min-height: 100svh;
    display: grid;
    place-items: center;
}

main {
    width: 24rem;
    height: 32.625rem;
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 1.25rem;
    box-shadow: 0.5rem 0.5rem var(--black);
    padding: 1.4rem;
    transition: box-shadow 300ms;
}

header {
    background: url(../assets/images/illustration-article.svg) no-repeat center/cover;
    height: 12.5rem;
    border-radius: 0.8rem;
}

section {
    padding: 1.4rem 0 1.5rem;
}

section h2 {
    margin-bottom: 0.9rem;
    display: inline-block;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--yellow);
}

h3 {
    margin-bottom: 1rem;
}

h2, h3 {
    font-size: 0.875rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.1rem;
    transition: color 300ms;
}

main:hover, h1:hover {
    cursor: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.45613 8.74982V13.6248C5.30392 13.4799 3.30097 11.5776 3.10412 11.504C2.90727 11.4305 2.69757 11.3976 2.48766 11.4072C2.27774 11.4168 2.07195 11.4688 1.88264 11.56C1.69334 11.6512 1.52445 11.7798 1.38613 11.938C1.1313 12.2289 0.993749 12.6041 1.00022 12.9908C1.00669 13.3774 1.15672 13.7478 1.42113 14.03L7.36313 20.368C7.74213 20.771 8.26913 21 8.82213 21H13.4561C15.8561 21 17.4561 19 17.4561 17V8.42902' fill='black'/%3E%3Cpath d='M5.45613 8.74982V13.6248C5.30392 13.4799 3.30097 11.5776 3.10412 11.504C2.90727 11.4305 2.69757 11.3976 2.48766 11.4072C2.27774 11.4168 2.07195 11.4688 1.88264 11.56C1.69334 11.6512 1.52445 11.7798 1.38613 11.938C1.1313 12.2289 0.993749 12.6041 1.00022 12.9908C1.00669 13.3774 1.15672 13.7478 1.42113 14.03L7.36313 20.368C7.74213 20.771 8.26913 21 8.82213 21H13.4561C15.8561 21 17.4561 19 17.4561 17V8.42902' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.4561 9V8.429C14.4561 6.143 17.4561 6.143 17.4561 8.429M11.4561 9V7.286C11.4561 5 14.4561 5 14.4561 7.286V9M8.45605 9V6.5C8.45605 4.214 11.4561 4.214 11.4561 6.5V9M5.45605 13.571V2.5C5.45605 2.10218 5.61409 1.72064 5.89539 1.43934C6.1767 1.15804 6.55823 1 6.95605 1C7.78405 1 8.45605 1.67 8.45605 2.499V9' fill='black'/%3E%3Cpath d='M17.4561 8.429C17.4561 6.143 14.4561 6.143 14.4561 8.429V9V7.286C14.4561 5 11.4561 5 11.4561 7.286V9V6.5C11.4561 4.214 8.45605 4.214 8.45605 6.5V9V2.499C8.45605 1.67 7.78405 1 6.95605 1C6.55823 1 6.1767 1.15804 5.89539 1.43934C5.61409 1.72064 5.45605 2.10218 5.45605 2.5V13.571' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"), auto;
}

h1:hover {
    color: var(--yellow);
}

main:hover {
    box-shadow: 1rem 1rem;
}

h1, h2 {
    font-weight: 800;
}

h3 {
    font-weight: 500;
}

p {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 450;
    line-height: 1.5rem;
}

footer img {
    width: 2rem;
    height: 2rem;
}

footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

@media screen and (max-width: 400px) {
    main {
        width: 20.44rem;
        height: 31.313rem;
        background-color: white;
        border: 1px solid var(--black);
        border-radius: 1.25rem;
        box-shadow: 0.5rem 0.5rem var(--black);
        padding: 1.4rem;
    }

    h1 {
        font-size: 1.25rem;
        margin-bottom: 0.85rem;
    }

    section h2, h3 {
        font-size: 0.75rem;
    }

    h3 {
        margin-bottom: 1.2rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3rem;
    }

    section {
        padding-bottom: 1.5rem;
    }
}